:root {
	--black: #000;
	--white: #fff;
	--blue: #2C8DBA;
	--cyan-blue: #008895;
}

body {
	background: var(--white) url('../images/light-mode-image.jpg') no-repeat;
	background-size: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* nav menu */

.navbar {
	background-color: var(--white);
	border-bottom: var(--black) 3px solid;
}

.navbar-brand {
	color: var(--black) !important;
	text-transform: uppercase;
}

.nav-item a {
	color: var(--black);
	text-transform: uppercase;
}

/*-----------------------------------------------------footer*/
.footer {
	background-color: var(--white);
	border-top: var(--black) 3px solid;
	margin-top: auto;
}

.copyright {
	margin: 10px;
	color: var(--black);
	text-transform: uppercase;
}

.social-media {
	text-align: center;
	margin-bottom: 0;    
	padding: 0;
}

.social-media li {
	font-size: 30px;
	display: inline;
	text-transform: uppercase;
}

a {
	color: var(--black); 
}

.education-p {
	text-transform: uppercase;
	margin-top: 8px;
	font-size: 12px;
}

/* active */

.active {
	color: var(--black) !important;
}

/* animation */

.nav-item a {
	position: relative;
	color: var(--black);
	text-decoration: none;
}

.nav-item a:hover {
	color: var(--black) !important;
}

.nav-item a::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--black);
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.nav-item a:hover::before {
	transform: scaleX(1);
}

/*----------------------------------------------active */
.nav-item a:active::before { 
	transform: scaleX(1); 
	/* this works but it's not working 100% the way it should, as the underline affect only stays in place if you drag the nav item first, unsure why*/
}

/* dark mode */

@media (prefers-color-scheme: dark) {
	body {
		background: var(--black) url('../images/coding-image.jpg') no-repeat;
		background-size: 100%;
		min-height: 100vh;
	}

	/* nav menu */

.navbar {
	background-color: var(--black);
	border-bottom: var(--cyan-blue) 3px solid;
}

.navbar-brand,
.nav-item a {
	color: var(--cyan-blue) !important;
}
	
	/* hover */
	
	.btn:hover {
		background-color: var(--cyan-blue);
	}

	.social-media a:hover {
		color: var(--cyan-blue) !important;
	}

	/* footer */

	.footer {
		background-color: var(--black);
		border-top: var(--cyan-blue) 3px solid;
	}

	.copyright,
	a,
	.education-p {
		color: var(--white);
	}

	/* animation */

	.nav-item a {
		color: var(--cyan-blue);
	}

	.nav-item a:hover {
		color: var(--cyan-blue) !important;
	}

	.nav-item a::before {
		background-color: var(--cyan-blue);
	}
}