:root {
	--black: #000;
	--white: #fff;
	--blue: #2C8DBA;
	--cyan-blue: #008895;
}

.job-button,
.education-button {
	all: unset;
}

.fa-briefcase,
.fa-school {
	color: var(--black);
	margin-top: 100px;
}

.fa-award:hover {
	color: var(--blue);
	/* maybe remove this if you sort the underline animation */
}

.job-header,
.education-header {
	text-align: center;
	text-transform: capitalize;
	text-decoration: underline;
}

.job,
.education {
	background-color: var(--white);
	color: var(--black);
	border: var(--black) 3px solid; 
	padding: 10px;
	font-size: 1rem;
	text-decoration: none;
	opacity: 0.8;
}

.metroline-job,
.hermes-job,
.ocado-job,
.education {
	position: absolute;
	height: max-content;
	width: 60vw;
	top: 30%;
}

.job-role-header {
	text-decoration: underline;
}

.cv {
	margin-top: 15%;
}

.education-bullets {
	font-size: large;
	list-style-type: none;
}

.hide {
	display: none;
}

/* job description underline animation */

.job-button {
	position: relative;
	color: var(--black);
	text-decoration: none;
}

.job-button:hover {
	color: var(--black) !important;
}

.job-button::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 3px;
	bottom: -6px;
	left: 0;
	background-color: var(--black);
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.job-button:hover::before {
	transform: scaleX(1);
}

/*----------------------------------------------active */
.job-button:active::before { 
	transform: scaleX(1); 
	/* this works but it's not working 100% the way it should, as the underline affect only stays in place if you drag the nav item first, unsure why*/
}

@media (prefers-color-scheme: dark) {

	.education {
		background-color: var(--black);
		color: var(--cyan-blue);
		border: var(--cyan-blue) 3px solid;
	}

	.fa-briefcase,
	.fa-school {
		color: var(--white);
	}

	.fa-award:hover {
		color: var(--white);
	}

.fa-briefcase:hover,
.fa-school:hover {
	color: var(--cyan-blue);
}

	.job {
		background-color: var(--black);
		color: var(--cyan-blue);
		border: var(--cyan-blue) 3px solid; 
	}

	/* job/education underline animation */

	.job-button,
	.job-button:hover {
		color: var(--cyan-blue);
	}

	.job-button::before {
		background-color: var(--cyan-blue);
	}
}